<div class="col-md-12" style="z-index: 1;">
<div class="text-center" style="margin-top: 340px; vertical-align: middle !important; font-size: 22px; line-height:48px">
  No vote running! You can start a new one by pressing the button below.<br>
  <a class="button button-primary button-pill" onclick="show_overlay_start_new_vote()">Start new vote!</a>
</div>
</div>

<%= render :partial => 'voting/vote_ended/script' %>