<script type="text/javascript">
        var vote_running;
        function check()
        {
            $.ajax({type:"GET", url:"/get_state", dataType:"json", success:function(state){
                vote_running = !(!state);
                $.ajax({type:"GET", url:"/get_current_user", dataType:"json", success:function(user){
                    var iframe = document.getElementById("main-iframe");
                    var iframedoc = iframe.contentWindow.document;
                    if(user.seen_end)
                    {
                        if(state.vote_running)
                        {
                            if($("#main-iframe").attr("src") == "/get_vote_running" && iframedoc.readyState == "complete")
                            {
                                iframe.contentWindow.check(state,user);
                            }
                            else
                            {
                                $("#main-iframe").attr("src", "/get_vote_running");
                            }
                        }
                        else if(!state.vote_running)
                        {
                            if($("#main-iframe").attr("src") == "/get_vote_ended" && iframedoc.readyState == "complete")
                            {

                            }
                            else
                            {
                                $("#main-iframe").attr("src", "/get_vote_ended");
                            }
                        }
                    }
                    if(!user.seen_end)
                    {
                        if($("#main-iframe").attr("src") == "/get_vote_over" && iframedoc.readyState == "complete")
                        {

                        }
                        else
                        {
                            $("#main-iframe").attr("src", "/get_vote_over");
                        }
                    }

                }})
            }});
        }
        $(document).ready(function(){
            setInterval(check, 5000);
            $("#submit_new_vote_button").on("click", function(evt){
                console.log("event fired.");
                var form = $("#form_start-new-vote");
                var time_string = $("input[name='ending_time']").val();
                var finish_hrs = parseInt(time_string.split(':')[0]);
                var finish_min = parseInt(time_string.split(':')[1]);
                var finish_date = new Date();
                var current_date = new Date();
                finish_date.setHours(finish_hrs);
                finish_date.setMinutes(finish_min);
                var minutes = ((finish_date.getTime() - current_date.getTime())/1000)/60;
                if(minutes<=0) return;
                $.ajax({type:"POST", url:"/start_vote", dataType:"json", data:{"minutes":minutes}});
            });
            $("#iframe").droppable({accept:".restaurant_div", drop: function(evt){
                alert("restaurant dropped!");
            }});
            $(".mm-icon-burger").on("click", function(evt){
                var iframe = document.getElementById("main-iframe");
                var iframedoc = iframe.contentWindow.document;
                if($("#main-iframe").attr("src") == "/get_vote_running" && iframedoc.readyState == "complete")
                {
                    $(".restaurant-list").children().fadeOut("fast");
                    $(".restaurant-list").html("");
                    $.ajax({type:"GET",url:"/get_restaurants",dataType:"json",success:function(data){
                        rests = data;
                        for (var i = 0; i < data.length; i++)
                        {
                            var html="";
                            html += "<li>";
                            html += "<div id='restaurant_"+rests[i].id+"' class='restaurant-div'>";
                            html += "    <div class='dropdown'>";
                            html += "        <table>";
                            html += "            <tr>";
                            html += "                <td>";
                            html += "                    <a class='dropdown-toggle' data-toggle='dropdown'><span class='mm-icon-menu'></span></a>";
                            html += "                </td>";
                            html += "                <td>";
                            html += "                    "+rests[i].name;
                            html += "                </td>";
                            html += "                <td>";
                            html += "                    Drag <br>";
                            html += "                    me";
                            html += "                </td>";
                            html += "            </tr>";
                            html += "        </table>";
                            html += "        <ul class='dropdown-menu'>";
                            html += "            <li><a class='mm-icon-attachment' id='restaurant_"+rests[i].id+"_menu'>Speisekarte</a></li>";
                            html += "            <li><a class='mm-icon-edit' id='restaurant_"+rests[i].id+"_edit'>Bearbeiten</a></li>";
                            html += "            <li><a class='mm-icon-trash' id='restaurant_"+rests[i].id+"_delete'>Löschen</a></li>";
                            html += "        </ul>";
                            html += "    <div>";
                            html += "</div>";
                            html += "</li>";
                            $(html).hide().appendTo(".restaurant-list").fadeIn("fast");
                            $("#restaurant_"+rests[i].id).draggable({helper: "clone", appendTo: "body", scroll: "false", revert:"invalid", start: function(event, ui){
                                ui.helper.width($(this).width());
                                $("#open-left_sidebar").click();
                        }});
                        }
                        $(".mm-icon-attachment").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-edit").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-trash").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-attachment").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                        $(".mm-icon-edit").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                        $(".mm-icon-trash").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                    }});
                }
                else
                {
                    $(".restaurant-list").children().fadeOut("fast");
                    $(".restaurant-list").html("");
                    $.ajax({typek:"GET",url:"/get_restaurants",dataType:"json",success:function(data){
                        rests = data;
                        for (var i = 0; i < data.length; i++)
                        {
                            var html="";
                            html += "<li>";
                            html += "<div id='restaurant_"+rests[i].id+"' class='restaurant-div'>";
                            html += "    <div class='dropdown'>";
                            html += "        <table>";
                            html += "            <tr>";
                            html += "                <td>";
                            html += "                    <a class='dropdown-toggle' data-toggle='dropdown'><span class='mm-icon-menu'></span></a>";
                            html += "                </td>";
                            html += "                <td>";
                            html += "                    "+rests[i].name;
                            html += "                </td>";
                            html += "                <td>";
                            html += "                </td>";
                            html += "            </tr>";
                            html += "        </table>";
                            html += "        <ul class='dropdown-menu'>";
                            html += "            <li><a data-sidebar='#left-sidebar' data-overlay='#overlay_show-menu' class='mm-icon-attachment' id='restaurant_"+rests[i].id+"_menu'>Speisekarte</a></li>";
                            html += "            <li><a data-sidebar='#left-sidebar' data-overlay='#overlay_edit-restaurant' class='mm-icon-edit' id='restaurant_"+rests[i].id+"_edit'>Bearbeiten</a></li>";
                            html += "            <li><a class='mm-icon-trash' id='restaurant_"+rests[i].id+"_delete'>Löschen</a></li>";
                            html += "        </ul>";
                            html += "    <div>";
                            html += "</div>";
                            html += "</li>";
                            $(html).hide().appendTo(".restaurant-list").fadeIn("fast");
                        }
                        $(".mm-icon-attachment").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-edit").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-trash").each(function(){
                            $(this).off("click.menu");
                        });
                        $(".mm-icon-attachment").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                        $(".mm-icon-edit").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                        $(".mm-icon-trash").each(function(){
                            $(this).on("click.menu", function(evt){
                                var link_id = $(evt.target).id;
                                var rest_id = link_id.split('_')[0] + "_" + link_id.split('_')[1];
                                var id = link_id.split('_')[1];
                            })
                        });
                    }});
                }
            });
        });
</script>