<div id="left_sidebar" class="sidebar sidebar-left sidebar-white">
  <div class="sidebar-element">
    <div style="float:right; text-align: right;  color: #d10046">
      FUTTERECKE
    </div>
    <div style="float:left; text-align: left;">
      <a href="javascript:;" data-sidebar="#left_sidebar"><span class="mm-icon-close red"></span></a>
    </div>
  </div>
  <div class="sidebar-element left blue">
    Stell selbst eine Fressbude zur Wahl!
  </div>
  <div class="sidebar-element">
    <ul class="restaurant-list">
    </ul>
  </div>
  <div class="sidebar-element" style="text-align: center">
    <a class="button button-primary button-pill" style="text-overflow: ellipsis; background-color: #b27401; color: white" data-sidebar="#left_sidebar" data-overlay="#overlay_new-restaurant"><span class="mm-icon-add">&nbsp;&nbsp;Neue Fressbude</span></a>
  </div>
</div>
<div id="right_sidebar" class="sidebar sidebar-right sidebar-white">
  <div class="sidebar-element">
      <div style="float:left; text-align:left; color: #d10046">
        HUNGERMÄULER
      </div>
      <div style="float:right; text-align: right;">
        <a href="javascript:;" data-sidebar="#right_sidebar"><span class="mm-icon-close red"></span></a>
      </div>
    </div>
</div>
<div id="overlay_new-restaurant" class="site-overlay overlay-less">
  <div class="absolute-middle-md text-center">
    <form id="form_new-restaurant">
      Erweitere die Auswahl! <br><br>
      Name <br>
      <input name="restaurant_name" type="text"><br>
      Kosename<br>
      <input name="restaurant_nickname" type="text"><br>
      Telefonnummer <br>
      <input name="restaurant_phone" type="text"><br>
      Adresse <br>
      <input name="restaurant_address" type="text"><br>
      Speisekarte <br>
      <div class="fileupload">
        <span class="mm-icon-add" style="font-size: 1em !important;">&nbsp;Hochladen</span>
        <input name="restaurant_menu" type="file">
      </div><br>
      <a id="submit_new_restaurant_form" class="button button-primary button-pill" data-overlay="#overlay_new-restaurant">Absenden</a>
    </form>
  </div>
</div>
<div id="overlay_edit-restaurant" class="site-overlay overlay-less">
  <div style="margin-top: 5%">
    <form id="form_edit-restaurant">
      Name <br>
      <input name="restaurant_name" type="text"><br>
      Kosename<br>
      <input name="restaurant_nickname" type="text"><br>
      Telefonnummer <br>
      <input name="restaurant_phone" type="text"><br>
      Adresse <br>
      <input name="restaurant_address" type="text"><br>
      Speisekarte <br>
      <div class="fileupload">
        <span class="mm-icon-add" style="font-size: 1em !important;">&nbsp;Hochladen</span>
        <input name="restaurant_menu" type="file">
      </div><br>
      <a id="submit_edit_restaurant_form" class="button button-primary button-pill" data-overlay="#overlay_edit-restaurant">Speichern</a>
    </form>
  </div>
</div>
<div id="overlay_start-new-vote" class="site-overlay overlay-less">
  <div class="absolute-middle-md">
    <form id="form_start-new-vote">
      <input name="ending_time" class="ending_time" type="text">
    </form>
    <a href="javascript:;" id="submit_new_vote_button"class="button button-primary button-pill" data-overlay="#overlay_start-new-vote" style="margin-top: 15px">Submit</a>
  </div>
</div>
<div id="overlay_dialog" class="site-overlay">

</div>
