
<div class="top-left-corner">
  <a class="mm-icon-burger" data-sidebar="#left_sidebar" style="font-size: 32px;text-decoration: none"></a>
</div>
<div class="top-right-corner">
  <a class="mm-icon-hungermaul" data-sidebar="#right_sidebar" style="font-size: 32px; text-decoration: none"></a>
</div>
<div id="iframe" class="absolute-middle-iframe">
  <% if @vote_running && @seen_end %>
  <iframe class="main-iframe no-margin" id="main-iframe" src="/get_vote_running"></iframe>
  <% elsif !@vote_running && @seen_end %>
  <iframe class="main-iframe no-margin" id="main-iframe" src="/get_vote_ended">  </iframe>
  <% elsif !@seen_end %>
  <iframe class="main-iframe no-margin" id="main-iframe" src="/get_vote_over"></iframe>
  <% end %>
</div>

<a id="open-left_sidebar" data-sidebar="#left_sidebar" style="display:none"></a>
<a id="open-right_sidebar" data-sidebar="#right_sidebar" style="display:none"></a>
<a id="open-new_restaurant_overlay" data-overlay="#overlay_new-restaurant" style="display:none"></a>
<a id="open-suggest_restaurant_overlay" data-overlay="#overlay_suggest-restaurant" style="display:none"></a>
<a id="open-start_new_vote_overlay" data-overlay="#overlay_start-new-vote" style="display:none"></a>

<span id="votes_count" style="display:none"><%= @vote_count %></span>
<span id="users_count" style="display:none"><%= @user_count %></span>

<%= render :partial => "voting/nav" %>
<%= render :partial => "voting/dashboard_script" %>