<script>
        function show_suggest_restaurant_bar()
        {
            var rest_list = parent.$("#restaurants");
            rest_list.html("");
            rest_list.append("<li><a href='javascript:;' class='button button-primary button-pill' data-sidebar='#right_sidebar'>Close</a></li>");
            $.ajax({type:"GET", url:"/get_restaurants", dataType:"json", success:function(rests){
                for(var i = 0; i < rests.length; i++)
                {

                }
            }})
        }
        function check(state, user)
        {
            $("#vote_timer_min").text(state.timer_min);
            $.ajax({type:"GET", url:"/get_votes",dataType:"json", success:function(votes){
                var votes_count_local = parseInt($("#votes_count").text());
                if(votes.length != votes_count_local)
                {
                    for(var i = 0; i < votes.length; i++)
                    {
                        if(document.getElementById("vote_"+votes[i].id) == null)
                        {
                            var html = "<div id='vote_"+votes[i].id+"' class='vote-div'>"+votes[i].id+", <span id='vote_"+votes[i].id+"_votes'>"+votes[i].votes+"</span></div>";
                            $(html).hide().appendTo("#votes").fadeIn("fast")
                            $("#vote_"+votes[i].id)
                        }
                    }
                    $("#votes_count").text(votes.length);
                }
                for(var i = 0; i < votes.length; i++)
                {
                    $("#vote_"+votes[i].id+"_votes").text(votes[i].votes);
                }
            }});
        }
        $(document).ready(function(){

            <% @votes.each do |vote| %>
            $("<%= dom_id vote %>").draggable({revert:true, containment:"#vote_container"});
            <% end %>

            $("#vote_drop").droppable({accept:".vote-div"});
            $("#vote_container").droppable({accept:".restaurant-div", });

        });
</script>