<div id="vote_container" style="z-index:1; height: 100% !important;">

<div class="row no-margin">
  <% @votes.each do |vote| %>
    <div class="col-md-4">
      <div id="vote_<%= vote.id %>" class="vote-div">
        <%= vote.restaurant.nick %> <br>
        <span class="red"><%= vote.votes %></span>
      </div>
    </div>
  <% end %>
</div>
<div class="row no-margin" style="height:20%">
  <div class="col-md-6 col-centered" style="height: 100%; padding: 0">
    <div id="vote_drop" class="vote-drop">
      Stimmen hier ablegen
    </div>
  </div>
</div>

</div>
<!--  SCRIPTS  -->
<%= render :partial => 'voting/vote_running/script' %>
