<div class="col-md-12">
<div class="text-center" style="margin-top: 280px; vertical-align: middle !important; font-size: 22px; line-height:48px">
  The Vote has ended, its going to be <%= WinHistory.all.last.restaurant.name %>. <br>
  It won with <%= WinHistory.all.last.votes %> Votes. <br>
  <%= WinHistory.all.last.user.username  %> is gonna have to bring it! <br>
  <a class="button button-primary button-pill" onclick="seen_end_submit()">Got it!</a>
</div>


</div>

<%= render 'voting/vote_over/script' %>