/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require bootstrap
 *= require sitebar
 *= require buttons
 *= require flipswitch
 *= require_self
 */

@font-face {
    font-family: 'meal-me';
    src:url('fonts/meal-me.eot?kfba4a');
    src:url('fonts/meal-me.eot?#iefixkfba4a') format('embedded-opentype'),
    url('fonts/meal-me.ttf?kfba4a') format('truetype'),
    url('fonts/meal-me.woff?kfba4a') format('woff'),
    url('fonts/meal-me.svg?kfba4a#meal-me') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mm-icon-"], [class*=" mm-icon-"] {
    font-family: 'meal-me';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mm-icon-burger:before {
    content: "\e600";
}
.mm-icon-hungermaul:before {
    content: "\e601";
}
.mm-icon-attachment:before {
    content: "\e607";
}
.mm-icon-trash:before {
    content: "\e650";
}
.mm-icon-edit:before {
    content: "\e657";
}
.mm-icon-close:before {
    content: "\e658";
}
.mm-icon-add:before {
    content: "\e666";
}



