// Place all the styles related to the voting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//General Styles
.col-centered{
  float: none !important;
  margin: 0 auto !important;
}

.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 16px;
  padding-top: 16px;
}
.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 16px;
  padding-top: 16px;
}


.absolute-middle-md{
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 60%;
  margin: 0 auto !important;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.overlay-less {
  background-color: rgba(0,175,208,0.8) !important;
}
.overlay-blue {
  background-color: rgba(0,175,208,0.75);
}

.overlay-form  input[type='text'] {
  width: 80%;
  border: 2px solid #00AFD0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 26px;
  border-radius: 15px;
  margin-bottom: 15px;
  color: #00AFD0;
}
.overlay-form  input[type='text']:focus {
  width: 80%;
  border: 2px solid #00AFD0;
  border-radius: 15px;
  margin-bottom: 15px;
  color: #00AFD0;
  outline: none;
}
.absolute-middle-iframe{
  border:none;
  position: absolute;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  padding: 0;
  width: 80%;
  height: 80%;
}

.main-iframe {
  border:none;
  width: 100%;
  height: 100%;
}
.no-margin {
  margin: 0 !important;
  padding: 0;
}

.sidebar-white{
  color: #00AFD0 !important;
  background-color:white !important;
  box-shadow: 0 0 5px gray !important;
  border: none;
}

.sidebar-element {
  width: 100%;
  margin: 0px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar-element.left {
  text-align: left;
}
.sidebar-element.right {
  text-align: right;
}
.blue {
  color: #00AFD0;
}
.red {
  color: #d10046;
}
.btn-new-restaurant {
  background-color: #D18B00;
  color: white;
  border-radius: 3px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
//--

//Styles for voting

.vote-div {
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  border: none;
  color: #00AFD0;
  box-shadow: 0 0 3px silver;
  text-align: center;
  width: 100%;
  height: 100%;
}
.vote-drop {
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border: 2px dotted #00AFD0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

//--

//Styles for users

//--

//Styles for restaurants
.restaurant-list {
  padding: 0;
  width: 100%;
  list-style: none;
  margin: 0px auto;
}
.restaurant-div {
  background-color: rgb(240,240,240);
  border: 1px solid rgb(222,222,222);
  box-shadow: 0 0 4px silver;
  width: 100%;
  padding: 4px 0px 4px 0px;
  margin: 0 auto;
}

ul.restaurant-list > li {
  border: none;
}

.restaurant-div > table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.restaurant-div > table > tbody {
  width: 100%;
}
.restaurant-div > .dropdown > table > tbody > tr {
  width: 100%;
}
.restaurant-div > .dropdown > table > tbody > tr > td {
  text-align :left;
  vertical-align: middle;
  word-break: normal;
  text-overflow: ellipsis;
  width: 70%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.restaurant-div > .dropdown > table > tbody > tr > td:nth-last-child {
  text-overflow: clip;
  word-break: normal;
  width: 20% !important;
  text-align: center;
}
.restaurant-div > .dropdown > table > tbody > tr > td:nth-child(1) {
  width: 10% !important;
  text-align: center;
}

form > input[type="text"] {
  height: 2em;
  width: 75%;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #00AFD0;
  background-color: white;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}


.fileupload {
  position: relative;
  width: 75%;
  padding: 8px 4px 10px 4px;
  height: 2em;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  background-color: #00AFD0;
  text-align: center;
  cursor: pointer !important;
}
.fileupload > input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0px;
  cursor: pointer !important;
  opacity: 0;
  filter: alpha(opacity=0);
}

