<!DOCTYPE html>
<html>
<head>
  <title>Mealme</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,600,900,200' rel='stylesheet' type='text/css'>
  <style>
      body {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 300;
          font-size: 18px;
      }
          h1 {
              font-weight: 300;
          }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
